/* Table */

/** Default **/
.cm-table-widget {
  margin: 0 !important;
}

.table-cell-wrapper {
  width: max-content;
}

/** Grow/shrink to fit page **/
.table-w-full .table-cell-wrapper {
  width: unset;
}

.table-w-full .table-wrapper,
.table-w-full .table-editor {
  /* width: 100%; */
}

/*** In progress for Grow ^ ***/
.cm-contentContainer {}

.table-wrapper {
  width: 100% !important;
}

.table-editor {
  width: 100% !important;
}





/* table header weigth in reading mode */
.markdown-preview-view {
  --table-header-weight: normal;
  /* bold/normal */
}

/* table header weigth in live preview */
.markdown-source-view {
  --table-header-weight: normal;
  /* bold/normal */
}
