/* Table */

/** Default **/
* {
  --table-column-min-width: max-content;
  --table-column-max-width: max-content;
}

th,
td,
.table-cell-wrapper {
  shadow: auto;
  width: max-content !important;
}

/** Grow/shrink to fit page **/
.table-w-full .table-cell-wrapper {
  width: unset;
}

.table-w-full .table-wrapper,
.table-w-full .table-editor {
  width: 100% !important;
  /* width: 100%; */
}


/** Grow/shrink to fit pane **/
.table-w-pane .cm-table-widget {
  margin: 0 !important;
  min-width: 100% !important;
}


/* table header weigth in reading mode */
.markdown-preview-view {
  --table-header-weight: normal;
  /* bold/normal */
}

/* table header weigth in live preview */
.markdown-source-view {
  --table-header-weight: normal;
  /* bold/normal */
}
