.table-full {
  --table-column-max-width: max-content;
  --link-color: red;
  /* --workspace-background-translucent: ; */
}

.table-full table {
  width: 100%;
  max-width: 100%;
}

.table-full td {
  width: 100%;
  max-width: max-content;
}

/* table header weigth in reading mode */
.markdown-preview-view {
  --table-header-weight: normal;
  /* bold/normal */
}

/* table header weigth in live preview */
.markdown-source-view {
  --table-header-weight: normal;
  /* bold/normal */
}
