/* Default */
td,
th {
  white-space: nowrap !important;
}

tr {
  height: 2.2em;
}

/* Grow to fit */

/** Page **/
.table-w-full table,
.table-w-full .table-wrapper {
  width: 100% !important;
}


/** Pane **/
.table-w-pane {
  --container-table-margin: 0;
}

.table-w-pane .el-table,
.table-w-pane .cm-table-widget {
  min-width: 100% !important;
}


/*  Typography  */
.markdown-preview-view,
.markdown-source-view {
  --table-header-weight: normal;
}
